# ====================== QDRANT ======================

QDRANT_URL=
QDRANT_API_KEY=
QDRANT_COLLECTION=

TOP_K=3

# ====================== EMBEDDING ======================

EMBEDDING_MODEL=intfloat/multilingual-e5-large

# ====================== GEMINI ======================

GEMINI_API_KEY=
GEMINI_MODEL=
GEMINI_JUDGE=

# ====================== GROQ ======================

GROQ_API_KEY=
GROQ_MODEL=