# Environment variables
.env

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/

# Data
dataset/

# Output files
output.md

# VS Code
.vscode/
